//Main page Login
.mainLogin {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $primary;
  background-image: url('.././../assets/images/curva-login.svg');
  background-size: cover;
  @include d(s) {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="393" height="827" viewBox="0 0 393 827" fill="none"><path d="M0 0.5V826.065C40.2552 798.227 89.5167 769.844 173.575 789.903C257.633 809.963 291.066 803.003 313.854 792.632C332.085 784.336 374.214 759.7 393 748.42V0.5H0Z" fill="url(%23paint0_linear_1086_3013)"/><defs><linearGradient id="paint0_linear_1086_3013" x1="495" y1="106" x2="8.87033" y2="820.061" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.484375" stop-color="%239C6DEF"/><stop offset="0.692708" stop-color="%23845FD6"/><stop offset="0.864583" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>');
  }

  @media screen and (max-height: 531px) {
    height: 100vw;
  }

  footer {
    width: 100%;
    display: flex;
    padding-bottom: 1.5rem;
  }
}

//Title Form
.formTitle {
  @include type('title-md');
  font-family: $secondfont;
  font-weight: 800;
  color: $white;
  padding-bottom: 1.5rem;
}

//Section form Login
.section-formLogin {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  $self: #{&};

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form {
    max-width: 32.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    @include d(s) {
      padding: 0 24px;
    }
  }
}

//Style Form login

.form-login {
  display: flex;
  flex-direction: column;

  $self: #{&};

  &__check-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.8rem;
    a {
      font-size: 0.875rem;
      color: $white;
    }
  }

  //Mobile TextLogin
  &__mobile-textLogin {
    display: none;
    @include d(s) {
      display: flex;
      justify-content: center;
      margin-top: 1rem;
    }
    span {
      @include type('text-regular');
      color: $white;
    }
  }

  //Button Login Icons
  &__button-login {
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    gap: 0.5rem;
    @include d(s) {
      justify-content: center;
    }
    button {
      width: 100%;
      @include d(s) {
        width: 5.687rem;
      }
    }
  }

  // Link Cadastro
  &__cadastro {
    display: flex;
    justify-content: center;
    span {
      @include type('text-regular');
      color: $white;
      a {
        font-family: $mainfont;
        font-size: 1rem;
        @include d(s) {
          font-weight: 700;
          text-decoration: none;
        }
      }
    }
  }
}
