//Section First

.page-home {
  $self: #{&};
  display: flex;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $primary-opacity;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="978" viewBox="0 0 1440 978" fill="none"><path d="M0 0H1439.76V681.5C1439.76 681.5 1538.95 618.109 1241 797.5C943.049 976.891 723 811.5 436.5 811.5C150 811.5 0 977.846 0 977.846V0Z" fill="url(%23paint0_linear_446_2297)"/><defs><linearGradient id="paint0_linear_446_2297" x1="1398" y1="318.5" x2="-0.000193373" y2="890.5" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.352319" stop-color="%239C6DEF"/><stop offset="0.597535" stop-color="%23845FD6"/><stop offset="0.84304" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>'); /* Substitua 'seu-arquivo.svg' pelo caminho para o seu SVG */
    background-size: contain;
    background-repeat: no-repeat;

    //Responsive Exclusive background
    @media screen and (min-width: 481px) and (max-width: 759px) {
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="864" height="678" viewBox="0 0 864 678" fill="none"><path d="M0 0H863V236.263V472.525C863 472.525 869.064 428.572 700.807 552.955C532.551 677.338 408.287 562.662 246.497 562.662C84.7068 562.662 0 678 0 678V0Z" fill="url(%23paint0_linear_667_1855)"/><defs><linearGradient id="paint0_linear_667_1855" x1="789.467" y1="220.835" x2="-40.0473" y2="497.262" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.352319" stop-color="%239C6DEF"/><stop offset="0.597535" stop-color="%23845FD6"/><stop offset="0.84304" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>') !important ;
    }
    @media screen and (max-width: 480px) {
      background-image: url('data:image/svg+xml,<svg width="393" height="615" viewBox="0 0 393 615" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0V615C40.2552 512.947 93 513 173.575 536.079C231.597 552.698 343 599 393 446V0H0Z" fill="url(%23paint0_linear_901_2722)"/><defs><linearGradient id="paint0_linear_901_2722" x1="381.401" y1="316.164" x2="-33.9046" y2="356.249" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.484375" stop-color="%239C6DEF"/><stop offset="0.692708" stop-color="%23845FD6"/><stop offset="0.864583" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>');
    }
  }

  &__nav-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    padding-right: 10rem;
    padding-top: 2.69rem;
    @include d(m) {
      padding-right: 5rem;
    }
    @include d(s) {
      gap: 0.88rem;
      padding-right: 1.5rem;
      padding-top: 1.5rem;
      padding-bottom: 2.69rem;
    }

    button {
      @include d(s) {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.9375rem;
        height: 2.1875rem;
        padding: 0.75rem 1rem;
      }
    }
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10rem 0;
    @include d(m) {
      transform: scale(0.75);
      padding: 0rem;
    }
    @include d(s) {
      width: auto;
      padding: 0 1.5rem 0 1.5rem;
    }
  }

  &__text {
    width: 46.3125rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.19rem;
    @include d(s) {
      width: 100%;
      gap: 0.62rem;
    }
    h1 {
      @include type("title-l");
      color: $white;
      line-height: normal;
      text-align: center;
      @include d(s) {
        text-align: start;
        font-size: 1.75rem;
      }
    }

    h2 {
      @include type("title-md");
      font-weight: 300;
      color: $white;
      line-height: normal;
      text-align: center;
      padding-bottom: 3.13rem;
      @include d(s) {
        font-size: 1rem;
        text-align: start;
        padding-bottom: 1.88rem;
      }
    }

    &-button {
      padding-bottom: 4.14rem;
      @include d(s) {
        width: 100%;
        padding-bottom: 1.94rem;
      }

      button {
        width: 17.3125rem;
        height: 3.5rem;
        @include type("title-md");

        @include d(s) {
          font-size: 1rem;
          width: 100%;
          height: 3rem;
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }

  &__cards {
    @include d(s) {
      display: none;
    }
  }
}

.page-home-second {
  width: 100%;
  height: 26.375rem;
  @include d(s) {
    height: 14.625rem;
  }
  $self: #{&};

  &__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $primary-opacity;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="442" height="100%" viewBox="0 0 1440 422" fill="none"><path d="M1465 422L-34.4978 422L-34.4978 127.891C-34.4978 127.891 -137.799 155.248 172.513 77.8303C482.826 0.412207 712.004 71.7885 1010.39 71.7885C1308.78 71.7885 1465 0.00012207 1465 0.00012207L1465 422Z" fill="url(%23paint0_linear_446_2299)"/><defs><linearGradient id="paint0_linear_446_2299" x1="8.99961" y1="284.548" x2="869.633" y2="-565.258" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.352319" stop-color="%239C6DEF"/><stop offset="0.597535" stop-color="%23845FD6"/><stop offset="0.84304" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>');
    background-size: cover;
    background-repeat: no-repeat;
    @include d(s) {
      background-image: url('data:image/svg+xml,<svg width="393" height="274" viewBox="0 0 393 274" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M393 273.5L393 0C352.745 38.8298 293.713 101.944 219.425 69.5286C110.5 22 50 52.2854 1.42499e-05 110.5L0 273.5L393 273.5Z" fill="url(%23paint0_linear_901_2723)"/><defs><linearGradient id="paint0_linear_901_2723" x1="11.5989" y1="153.204" x2="405.43" y2="53.2981" gradientUnits="userSpaceOnUse"><stop stop-color="%23CEC5E8"/><stop offset="0.484375" stop-color="%239C6DEF"/><stop offset="0.692708" stop-color="%23845FD6"/><stop offset="0.864583" stop-color="%236B51BD"/><stop offset="1" stop-color="%236B51BD"/></linearGradient></defs></svg>');
    }
  }

  &__content {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 6rem 6rem 0 6rem;
    @include d(m) {
      padding: 3rem 3rem 0 3rem;
      margin-top: 3rem;
    }
    @include d(s) {
      flex-direction: column;
      padding: 6rem 2rem 1rem 2rem;
      gap: 0.42rem;
    }

    h2 {
      width: 46%;
      @include type("title-l");
      color: $secondary;
      line-height: normal;
      @include d(s) {
        width: 100%;
        font-size: 1.5rem;
      }
    }
    &-text {
      width: 54%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      @include d(s) {
        width: 100%;
        gap: 0.42rem;
        align-items: start;
      }
      p {
        width: 25.375rem;
        @include type("title-md");
        font-weight: 300;
        color: $white;
        line-height: normal;
        @include d(m) {
          width: 20.375rem;
        }
        @include d(s) {
          width: 100%;
          font-size: 1rem;
        }
      }
      button {
        width: 25.375rem;
        height: 3rem;
        padding: 0.5rem 1.5rem;
        @include d(m) {
          width: 20.375rem;
        }
        @include d(s) {
          width: 100%;
          height: auto;
          align-items: start;
          color: $secondary;
          background: transparent;
          text-decoration: underline;
          padding: 0;
          &:hover {
            background: transparent;
            color: $white;
          }
        }
      }
    }
  }
}

.page-home-third {
  $self: #{&};
  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row dense;
    grid-template-areas: "content-text content-photo";
    @include d(m) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-rows: auto;
      grid-template-areas:
        "content-photo"
        "content-text";
      margin-bottom: 1.5rem;
    }
    @include d(s) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      grid-auto-rows: auto;
      grid-template-areas:
        "content-photo"
        "content-text";
      margin-bottom: 1.5rem;
    }
  }

  &__content-text {
    display: grid;
    margin-top: 3.5rem;
    padding: 0 1.5rem 0 4.13rem;
    grid-area: content-text;
    @include d(m) {
      padding: 0 1.5rem 0 1.5rem;
      margin-top: 1rem;
    }
    @include d(s) {
      padding: 0 1.5rem 0 1.5rem;
      margin-top: 1rem;
    }
    h2 {
      @include type("title-l");
      font-size: 3.5rem;
      color: $secondary;
      line-height: normal;
      padding-bottom: 0.68rem;
      @include d(s) {
        font-size: 1.75rem;
      }
    }

    p {
      @include type("title-md");
      line-height: normal;
      color: $secondary;
      padding-bottom: 2rem;
      @include d(s) {
        font-size: 1rem;
        padding-bottom: 2rem;
      }
    }

    ol {
      display: flex;
      flex-direction: column;
      counter-reset: section;
      padding-bottom: 2.5rem;
      padding-left: 1rem;
      padding-right: 2rem;
      gap: 1.5rem;
      @include d(s) {
        padding-bottom: 1.75rem;
        padding-left: 0;
      }

      li {
        @include type("title-md");
        line-height: normal;
        color: $secondary;
        font-weight: 400;
        @include d(s) {
          font-size: 0.875rem;
        }
        &::before {
          counter-increment: section;
          content: counter(section) ". ";
          @include type("title-md");
          color: $secondary;
          font-weight: 400;
          line-height: normal;
          @include d(s) {
            font-size: 0.875rem;
          }
        }

        span {
          @include type("title-md");
          font-weight: 600;
          color: $secondary;
          line-height: normal;
          @include d(s) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  &__content-text-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.68rem;
    a {
      display: flex;
      align-items: center;
      @include type("title-md");
      color: $secondary;
      font-weight: 700;
      cursor: pointer;
      line-height: normal;
      text-decoration: underline;
      transition: background-image 0.3s ease;
      @include d(s) {
        font-size: 1rem;
      }
      &:hover {
        color: $primary;
        &::after {
          content: "";
          display: inline-block;
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M7.5 15L15 7.5L7.5 0L4.875 2.625L7.875 5.625H0V9.375H7.875L4.875 12.375L7.5 15Z" fill="%236B51BD"/></svg>');
          margin-left: 8px;
          @include d(s) {
            background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 15 15" fill="none"><path d="M7.5 15L15 7.5L7.5 0L4.875 2.625L7.875 5.625H0V9.375H7.875L4.875 12.375L7.5 15Z" fill="%236B51BD"/></svg>');
            width: 10px;
            width: 10px;
            margin-top: 3px;
            margin-left: 10px;
          }
        }
      }
      &::after {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 15 15" fill="none"><path d="M7.5 15L15 7.5L7.5 0L4.875 2.625L7.875 5.625H0V9.375H7.875L4.875 12.375L7.5 15Z" fill="%23001C42"/></svg>');
        margin-left: 8px;
        @include d(s) {
          background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 15 15" fill="none"><path d="M7.5 15L15 7.5L7.5 0L4.875 2.625L7.875 5.625H0V9.375H7.875L4.875 12.375L7.5 15Z" fill="%23001C42"/></svg>');
          width: 10px;
          width: 10px;
          background-repeat: no-repeat;
          margin-top: 3px;
          margin-left: 10px;
        }
      }
    }
  }

  &__content-photo {
    display: grid;
    grid-area: content-photo;

    &__thumbnail {
      width: 100%;
      height: auto;
      @include d(s) {
        width: 100%;
      }

      picture {
        padding-bottom: 52.8125rem;
        position: relative;
        overflow: hidden;
        display: block;
        height: 0;
        width: 100%;
        @include d(m) {
          padding-bottom: 41%;
        }
        @include d(s) {
          padding-bottom: 50%;
        }

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

.swiper-container {
  display: none;
  @include d(s) {
    display: block;
  }
}
