.swiper-container {
  width: 100%;
  overflow: hidden;
  margin-top: 3rem;
  transform: scale(1.1);
  /* Esconda os outros cards que não estão visíveis */
}

.swiper-slide {
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  transform: scale(0.95);
}
