.swiper-home {
  padding-left: 1.5rem;
}

.swiper-container {
  width: 100%;
  overflow: hidden;
}

.swiper-slide {
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out;
}

.swiper-slide.swiper-slide-prev,
.swiper-slide.swiper-slide-next {
  transform: scale(0.95);
}
