//Global configuration

@import "./globals/config";
* {
  ::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
  }

  ::-webkit-scrollbar-thumb {
    background-color: $secondary-light;
    border-radius: 3px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: $secondary;
  }

  ::-webkit-scrollbar-track {
    background-color: $primary-light;
  }
}

body {
  background-color: #dbdbdbdb;
  color: $black;
}

.container-page-elements {
  padding: 30px 30px;
}

//Modules
@import "./modules/arrow";
@import "./modules/button";
@import "./modules/button-poly";
@import "./modules/rectangle";
@import "./modules/rectangle-home-one";
@import "./modules/rectangle-home-two";
@import "./modules/rectangle-home-three";
@import "./modules/rectangles-home";
@import "./modules/icons-list";
@import "./modules/swiper-card";

//Pages
@import "./modules/page-home";
@import "./modules/footer";
