$black: #000000;
$gray: #808080;
$white: #fcfcfc;
$white-soft: #FDFDFD80;
$primary: #6B51BD;
$primary-light: #9C6DEF;
$primary-opacity: #6b51bd26;
$secondary: #001C42;
$secondary-light: #002C69;
$secondary-opacity: #001c4226;
$tertiary: #707C8C;
$tertiary-light: #8D96A3;
$tertiary-opacity: #707c8c26;