html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: rgba(219, 219, 219, 0.8588235294);
}

.container-page-elements {
  margin: 30px 30px;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.arrow__container {
  display: flex;
}
.arrow__content {
  display: flex;
  align-items: center;
  transform: rotate(90deg);
}
.arrow__content span {
  width: 20px;
  position: relative;
  transition: 0.5s;
  transform: scale(0.6);
}
.arrow__content span #arrow-icon-one {
  animation: color_anim 1.5s infinite 0.2s;
}
.arrow__content span #arrow-icon-three {
  animation: color_anim 1.5s infinite 0.6s;
}
.arrow__content span #arrow-icon-two {
  animation: color_anim 1.5s infinite 0.4s;
}
@keyframes color_anim {
  0% {
    fill: #fcfcfc;
  }
  50% {
    fill: rgba(253, 253, 253, 0.5019607843);
  }
  100% {
    fill: #fcfcfc;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.buttons {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
}
.button__content {
  width: 6.625rem;
  background: #002C69;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  font-size: var(--type-title-xs-fs-px, 20px);
  font-size: var(--type-title-xs-fs-rem, 1.25rem);
  line-height: 22px;
  line-height: var(--type-title-xs-lh-px, 22px);
  line-height: var(--type-title-xs-lh-rem, 1.375rem);
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  color: #fcfcfc;
  font-weight: 600;
  text-align: center;
}
.button__content:hover {
  background: #fcfcfc;
  color: #6B51BD;
}
.button--transparent .button__content {
  background: transparent;
}
.button--transparent .button__content:hover {
  background: #fcfcfc;
}/*# sourceMappingURL=main.css.map */