.buttons {
  display: flex;
}

.button {
  $self: #{&};

  display: flex;
  align-items: center;

  button {
    width: 100%;
    background: $secondary-light;
    padding: 0.75rem 1rem;
    border: none;
    border-radius: 0.5rem;
    @include type("title-xs");
    color: $white;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    @include d(s) {
      font-size: 1rem;
      padding: 0.75rem 1rem;
    }
    &:hover {
      background: $white;
      color: $primary;
    }
  }

  &--transparent {
    button {
      background: transparent;
      &:hover {
        background: $white;
      }
    }
  }
}
