<form class="form-login">
  <label for="email"></label>
  <input class="form-login__email" placeholder="E-mail" type="email" required> </input>

  <div class="form-login__senha-div">
    <label for="senha"></label>
    <div class="form-login__senha-content">
      <input class="form-login__senha" placeholder="Senha" type="password" id="senha" required>
      <img src="../../assets/images/icon-olho.svg" alt="Ícone do Olho" id="togglePassword" class="form-login__senha-icon">
    </div>
  </div>

  <div class="form-login__check-form">
    <div class="form-login__check">
      <input class="form-login__check-input" type="checkbox" />
      <label for="check-form">Lembre-se de mim</label>
    </div>
    <a href="" class=" link form-login__check-input-link">Esqueceu a senha?</a>
  </div>

  <div class="button">
    <button>Login</button>
  </div>
</form>

<div class="teste-button-form">
  <div class="button button--icon button--icon__google">
    <button>Continuar com o Google</button>
  </div>
  <div class="button button--icon button--icon__linkedin">
    <button>Continuar com o Google</button>
  </div>
</div>

<div include-html="./template/elements/footer-login.html"></div>